.select {
	position: relative;
	user-select: none;

	svg {
		.internal-path {
			fill: white;
		}
	}

	&-clickable-view {
		cursor: pointer;
		padding: 7px 12px;
		padding-right: 40px;
		border: 2px solid #f0f0f0;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
		box-sizing: border-box;
		position: relative;

		&.with-dropdown {
			border-radius: 2px 2px 0 0;
		}

		&:focus {
			outline-color: var(--main-color);
		}

		.svg-icon {
			position: absolute;
			right: 8px;
			margin: 0;
			width: 16px;
			height: 16px;
			top: 6px;
		}
	}

	@keyframes selectDropdownAppear {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	.select-dropdown {
		position: absolute;
		width: 100%;
		border-radius: 0 0 2px 2px;
		z-index: 10;
		max-height: 0;
		animation: selectDropdownAppear 0.25s ease-in-out forwards;

		.option {
			padding: 8px;
			width: 100%;
			box-sizing: border-box;
			background-color: #2f2429;
			cursor: pointer;
			transition: all 1s ease;

			&:hover {
				background-color: #2f2429;
			}

			&:last-child {
				border-radius: 0 0 2px 2px;
			}
		}
	}
}
