.left-bar-container {
	.left-bar {
		width: 399px;
		height: 1945px;
		border-radius: 2px;
		background-color: rgba(0, 0, 0, 0.15);
		z-index: 3;
	}

	.items {
		padding-top: 6%;
		padding-left: 5.8%;
		padding-right: 6%;
	}

	.new-events {
		width: 352px;
		height: 43px;
		border-radius: 39px;
		background-image: linear-gradient(97deg, #092057, #db802f);
		align-items: center;
		display: flex;
		z-index: 3;

		&:hover {
			cursor: pointer;
		}
	}

	.new-events-text {
		font-family: Roboto;
		font-size: 21px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0.27px;
		text-align: center;
		color: #f9f9f9;
		align-items: center;
		margin-top: 25px;
		text-decoration: none;
		box-sizing: border-box;
		padding-left: 24.6%;
	}

	.new-talk {
		width: 352px;
		height: 43px;
		border-radius: 39px;
		background-image: linear-gradient(97deg, #24479c, #1d7b59);
		align-items: center;
		display: flex;
		z-index: 3;
		margin-top: 9.6%;

		&:hover {
			cursor: pointer;
		}
	}

	.new-talk-text {
		font-family: Roboto;
		font-size: 21px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0.27px;
		text-align: center;
		color: #f9f9f9;
		align-items: center;
		margin-top: 25px;
		text-decoration: none;
		box-sizing: border-box;
		padding-left: 32.1%;
	}

	.draft-block {
		margin-top: 17.6%;
	}

	.draft-event {
		//width: 297px;
		//  height: 24px;
		font-family: Roboto;
		font-size: 21px;
		font-weight: 300;
		font-style: italic;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 3.37px;
		color: #f0f0f0;
	}

	.my-event {
		font-family: Roboto;
		font-size: 18px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 1.03px;
		color: #f0f0f0;
	}

	.my-event2 {
		font-family: Roboto;
		font-size: 18px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 1.03px;
		color: #f0f0f0;
	}

	.draft-talks-block {
		margin-top: 30.5%;
	}

	.draft-talks {
		//width: 297px;
		//  height: 24px;
		font-family: Roboto;
		font-size: 21px;
		font-weight: 300;
		font-style: italic;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 3.37px;
		color: #f0f0f0;
	}

	.my-talks {
		font-family: Roboto;
		font-size: 18px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 1.03px;
		color: #f0f0f0;
	}

	.my-talks2 {
		font-family: Roboto;
		font-size: 18px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 1.03px;
		color: #f0f0f0;
	}

	.justifie {
		text-align: left;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.bands {
		height: 1px;
		flex-grow: 2;
		margin-left: 10px;
		margin-right: 10px;
		background-color: white;
	}
	.little-bands {
		width: 24px;
		height: 1px;
		margin-left: 10px;
		margin-right: 10px;
		background-color: white;
	}
}
