.App {
  text-align: center;
  background-color: #2F2429;
}

.App-header {
  margin:0%;
  padding : 0%;
}


.Rectangle {
  width: 100%;
  height: 487,5%;
  background-color: rgba(0, 0, 0, 0.15);
  margin:0%;
  padding : 0%;
  overflow:hidden;
}

.TALKIEN {
  width: 114px;
  height: 29px;
  font-family: VAGRoundedNext;
  font-size: 0,211em;
  font-weight: 5.263em;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.42px;
  text-align: center;
  color: #f9f9f9;
  margin:0%;
  padding : 2%;  
}

.Recherche {
  width: 74px;
  height: 24px;
  font-family: Roboto;
  font-size: 0,184em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.27px;
  text-align: right;
  color: #f9f9f9;
  margin:0%;
  padding : 2%; 

}

.Gestion {
  width: 74px;
  height: 24px;
  font-family: Roboto;
  font-size: 0,184em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.27px;
  text-align: right;
  color: #f9f9f9;
}

.GitHub {
  width: 67px;
  height: 24px;
  font-family: Roboto;
  font-size: 0,184em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.27px;
  text-align: right;
  color: #f9f9f9;
}