.speaker-add {
	.speaker,
	.logo {
		display: flex;
		justify-content: space-between;
		margin-top: 5.4%;
	}

	.speaker-block {
		width: 100%;
	}

	.input-website-speaker,
	.input-name-user,
	.input-identity {
		input {
			border-color: #f0f0f0;
			font-size: 24px;
			border-width: 2px;
			border-top: 0px;
			border-left: 0px;
			border-right: 0px;
			background: transparent;
			margin-top: 0.7%;
		}
	}
	.input-website-speaker,
	.input-name-user {
		margin-top: 1.9%;
	}

	.preview-picture-speaker-block {
		margin-left: 2.2%;
		flex-shrink: 0;
	}

	.preview-picture-text {
		font-family: Roboto;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0.15px;
		color: #ffffff;
	}

	.zone-of-preview-picture {
		height: 300px;
		width: 300px;
		padding: 16px;
		background-color: rgba(0, 0, 0, 0.7);
		margin-top: 0.6%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.preview-speaker {
		width: 100%;
		height: 100%;
		border-radius: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		transition: all 0.25s ease-in-out;

		&:hover {
			transform: scale(1.05);
		}
	}

	.news {
		width: 100%;
	}

	.input-website,
	.input-logo-speaker,
	.input-job,
	.input-logo-url,
	.input-company {
		input {
			border-color: #f0f0f0;
			font-size: 24px;
			border-width: 2px;
			border-top: 0px;
			border-left: 0px;
			border-right: 0px;
			background: transparent;
			margin-top: 0.7%;
		}
	}
	.input-logo-speaker,
	.input-website,
	.input-job,
	.input-logo-url {
		margin-top: 1.9%;
	}

	.preview-logo-block {
		margin-left: 2.2%;
		width: 100%;
	}

	.preview-logo-text {
		font-family: Roboto;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0.15px;
		color: #ffffff;
	}

	.zone-of-preview {
		height: 100%;
		width: 100%;
		position: relative;
		background-color: rgba(0, 0, 0, 0.7);
		margin-top: 0.6%;
		align-items: center;
		display: flex;
		justify-content: center;
	}

	.zone-of-preview img {
		position: absolute;
		object-fit: cover;
	}

	.preview-logo {
		width: 70%;
		height: 70%;
		padding: 20px;
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
		transition: all 1s ease;
	}
}
