@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

button,
.button-like {
  height: 40px;
  position: relative;
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  font-weight: 500;
  font-family: 'Roboto';
  padding: 0 16px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: var(--transition-ease-in-out);
  font-size: 1em;
  flex-shrink: 0;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--button-hover-background-color);
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
  }

  &:hover {
    &::before {
      transform-origin: center left;
      transform: scaleX(1);
    }
  }

  &:focus {
    background-color: var(--button-hover-background-color);
  }

  &:active {
    background-color: var(--button-active-background-color);
  }

  .svg-icon {
    margin: 0;
    width: 16px;
    height: 16px;

    .internal-path {
      fill: var(--font-color);
    }
  }

  &.left-icon {
    .svg-icon {
      margin-right: 8px;
    }
  }

  &.right-icon {
    .svg-icon {
      margin-left: 8px;
    }
  }

  .message {
    opacity: 0;
    animation-name: appear;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
  }

  .error-message {
    display: none;
    opacity: 0;
  }

  .success-message {
    display: none;
    opacity: 0;
  }

  &.disabled {
    cursor: auto;
    background-color: grey;

    &::before {
      background-color: grey;
      color: white;
      border: 2px solid var(--background-color);
    }
  }

  &.loading {
    background-color: var(--background-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
  }

  &.green {
    color: var(--success-color);

    .svg-icon .internal-path {
      fill: var(--success-color);
    }
  }

  &.red {
    color: var(--error-color);

    .svg-icon .internal-path {
      fill: var(--error-color);
    }
  }

  &.gradient {
    background: var(--button-gradient-background-color);
    background-color: grey;
    font-weight: 400;

    &::before {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &:active {
      background-color: black;
    }
  }

  &.error {
    background: none;
    background-color: var(--button-error-background-color);

    .message {
      opacity: 0;
      display: none;
    }

    .error-message {
      opacity: 1;
      display: block;
      color: white;
      animation-name: disappear;
      animation-delay: 2.75s;
      animation-duration: 0.25s;
      animation-fill-mode: forwards;
    }

    &::before {
      background-color: var(--button-error-background-color);
    }
  }

  &.success {
    background-color: var(--button-success-background-color);

    .message {
      opacity: 0;
      display: none;
    }

    .success-message {
      opacity: 1;
      display: block;
      color: white;
      animation-name: disappear;
      animation-delay: 2.75s;
      animation-duration: 0.25s;
      animation-fill-mode: forwards;
    }

    &::before {
      background-color: var(--button-success-background-color);
    }
  }
}

$animation-speed: 750ms;
$dot-size: 4px;

@mixin animation($delay: 0ms) {
  animation: fx $animation-speed ease infinite $delay;
}

.dot {
  width: $dot-size;
  height: $dot-size;
  background-color: white;
  border: ($dot-size / 5) solid white;
  border-radius: 50%;
  float: left;
  margin: 0 ($dot-size / 2);
  transform: scale(0.5);

  @include animation();

  &:nth-child(2) {
    @include animation($animation-speed * 0.3);
  }

  &:nth-child(3) {
    @include animation($animation-speed * 0.6);
  }
}

@keyframes fx {
  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}
