.container {
	align-items: center;
}

.title-management-page {
	width: 1044px;
	height: 79px;
	font-family: Roboto;
	font-size: 3em;
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.76px;
	text-align: center;
	color: #f9f9f9;
}

.text {
	width: 74em;
	height: 21.875em;
	font-family: Roboto;
	font-size: 21px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.27px;
	color: #f9f9f9;
	text-align: left;
}

.clickhere {
	width: 575px;
	height: 64px;
	border-radius: 32.5px;
	background-image: linear-gradient(97deg, #c16f3e, #bd467b);
	align-items: center;
	display: flex;
	z-index: 3;

	 &:hover {
		cursor: pointer;
	 }
}

.connecttogithub {
	font-family: Roboto;
	font-size: 36px;
	color: #f9f9f9;
	text-align: center;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	font-weight: bold;
	letter-spacing: 0.46px;
	padding: 0 70px;
	height: 42px;
	box-sizing: border-box;
	align-items: center;
	text-decoration: none;
}

.logotalkien {
	width: 80%;
	object-fit: contain;
	opacity: 0.1;
	position: absolute;
	z-index: 2;
	top: 13%;
	right: 10%;
}
