@keyframes rotateShow {
  0% {
    transform: rotate3d(1, 0, 0, 0.5turn);
  }

  100% {
    transform: rotate3d(0);
  }
}

@keyframes rotateHide {
  0% {
    transform: rotate3d(0);
  }

  100% {
    transform: rotate3d(1, 0, 0, 0.5turn);
  }
}

.formAtom,
.form-atom {
  .add-field {
    margin: 5px 0;
    width: auto;
  }

  .section {
    margin: 16px 0;
    background-color: var(--form-item-background-color);
    color: var(--form-bottom-button-font-color);

    .table-container .responsive-table .table-line {
      &:nth-child(even) {
        background-color: var(--table-background-third-color);

        &:hover {
          background-color: var(--table-background-hover-color);
        }
      }
    }

    .table-body .table-line .table-cell {
      padding: 6px 8px;
    }

    .padding-container {
      padding: 16px 24px;
    }

    .section-container {
      &.full-width {
        max-width: 100%;
      }

      .horizontal-layer {
        div:last-of-type {
          padding-right: 0;
        }
      }
    }

    .section-title {
      padding: 24px;
      font-size: 1.2em;
      display: flex;
      justify-content: space-between;
      user-select: none;
      cursor: pointer;

      h4 {
        vertical-align: middle;
      }

      &.opened {
        padding-bottom: 0;
      }

      .section-icon {
        &.opened {
          animation: rotateHide 0.175s ease-in-out forwards;
        }

        &.closed {
          animation: rotateShow 0.175s ease-in-out forwards;
        }

        .svg-icon {
          height: 20px;
          margin: 0;
        }
      }
    }

    .bottom-container {
      padding: 24px;
      background-color: var(--form-bottom-button-background-color);
      user-select: none;
      transition: var(--t-fast-ease-in-out);

      &.with-action {
        cursor: pointer;

        &:hover {
          background-color: var(--form-bottom-button-hover-background-color);
        }
      }
    }
  }

  .form-error-display {
    color: var(--error-color);
    font-size: 0.75em;
    margin-top: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-overflow: ellipsis;
    overflow-y: hidden;
    white-space: nowrap;
  }

  

  .table-cell {
    .input-component {
      width: 100%;
    }
  }

  .selector-container {
    margin-top: calc(2px + 0.688em);
  }
}

.form-line-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: -16px -16px;

  & > * {
    margin: 16px 16px;
  }
}

.form-input-container {
  margin-top: 16px;
  padding-bottom: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: baseline;

  &.full-width {
    max-width: 100%;
  }
}
