.textarea {
  border-radius: 8px;
  border: none;
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  color: var(--input-font-color);
  border-radius: 2px;
  font-family: 'Roboto';
  padding: 7px 12px;
  box-sizing: border-box;
}
